# Main imports

In [6]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

# Acquiring posting box details

In [35]:
driver = webdriver.Chrome("/usr/local/bin/chromedriver")
driver.get("https://www.singpost.com/locate-us")
try:
    element = WebDriverWait(driver, 20).until(
        EC.presence_of_element_located((By.CLASS_NAME, "icoContent"))
    )
    html = driver.page_source
    posting_box_soup = BeautifulSoup(html, 'html.parser')
finally:
    driver.quit()

In [44]:
df_posting_box = pd.DataFrame(columns=['type', 'location', 'lat', 'long', 'address'])

for entry in posting_box_soup.find_all('div', {'class':'icoContent'}):
    mail_type = entry.find('h3', {'class': 'serviceType'}).text
    location = entry.find('h2', {'class': 'loc_name'}).text
    lat = entry.find('p', {'class': 'map_lat'}).text
    longitude = entry.find('p', {'class': 'map_lan'}).text
    address = None
    
    df_posting_box.loc[len(df_posting_box)] = [mail_type, location, lat, longitude, address]

In [45]:
df_posting_box.head()

,type,location,lat,long,address
0,Posting Box,1 Cove Avenue (Sentosa Cove Village),1.24695,103.8389969,None
1,Posting Box,1 Park Road Peoples Park Complex,1.284386,103.843157,None
2,Posting Box,18 Chin Bee Ave,1.333105,103.711239,None
3,Posting Box,755 Upper Serangoon Road (Former Post Office),1.35438,103.8779984,None
4,Posting Box,Admiralty MRT Station,1.440704,103.800521,None

In [46]:
len(df_posting_box)

803

In [47]:
df_posting_box.tail()

,type,location,lat,long,address
798,Posting Box,Yishun Street 21 (Blk 217),1.432825,103.836749,None
799,Posting Box,Yishun Street 51 (Blk 513),1.416251,103.843904,None
800,Posting Box,Yishun Street 61 (Blk 643),1.421424,103.836849,None
801,Posting Box,Yuan Ching Road (Blk E - Lakeside Apartment),1.335644,103.72532,None
802,Posting Box,Yung Loh Road (Blk 155),1.327793,103.722685,None

# Acquiring Post office details

In [40]:
driver = webdriver.Chrome("/usr/local/bin/chromedriver")
driver.get("https://www.singpost.com/locate-us")
try:
    element = WebDriverWait(driver, 20).until(
        EC.presence_of_element_located((By.CLASS_NAME, "icoContent"))
    )
    html = driver.page_source
    post_office_soup = BeautifulSoup(html, 'html.parser')
finally:
    driver.quit()

In [41]:
df_post_office = pd.DataFrame(columns=['type', 'location', 'lat', 'long', 'address'])

for entry in post_office_soup.find_all('div', {'class':'icoContent'}):
    mail_type = entry.find('h3', {'class': 'serviceType'}).text
    location = entry.find('h2', {'class': 'loc_name'}).text
    lat = entry.find('p', {'class': 'map_lat'}).text
    longitude = entry.find('p', {'class': 'map_lan'}).text
    address = entry.find('p', {'class': 'address'}).text
    
    df_post_office.loc[len(df_post_office)] = [mail_type, location, lat, longitude, address]

In [42]:
df_post_office.head()

,type,location,lat,long,address
0,Post Office,Alexandra Post Office,1.29154,103.8199997,"110 Alexandra Road, #01-01, Singapore 159921"
1,Post Office,Ang Mo Kio Central Post Office,1.37271,103.8460007,"Blk 727 Ang Mo Kio Ave 6 #01-4246, Singapore 5..."
2,Post Office,Bedok Central Post Office,1.3274699,103.9339981,"Blk 218 Bedok North St.1 #01-49, Singapore 460218"
3,Post Office,Bishan Post Office,1.34926,103.8499985,51 Bishan Street 13 #01-03 Bishan Community Cl...
4,Post Office,Bras Basah Post Office,1.29678,103.8539963,"Blk 231 Bain Street#01-03 Bras Basah Complex, ..."

In [43]:
len(df_post_office)

57

In [48]:
df_post_office.tail()

,type,location,lat,long,address
52,Post Office,Toa Payoh North Post Office,1.34208,103.848999,"Blk 203 Toa Payoh North #01-1117/1119, Singapo..."
53,Post Office,Towner Post Office,1.31949,103.8610001,"Blk 101 Towner Road, #01-204/206, Singapore 32..."
54,Post Office,Whampoa Post Office,1.32479,103.8570023,"Whampoa Community Club, 300 Whampoa Drive, #01..."
55,Post Office,Woodlands Central Post Office,1.43527,103.7870026,900 South Woodlands Drive #03-05/06 Woodlands ...
56,Post Office,Yishun Central Post Office,1.42995,103.8359985,"930 Yishun Avenue 2, #02-04/05, Northpoint Cit..."

# Combine into one dataframe

In [57]:
df = pd.concat([df_posting_box, df_post_office]).reset_index(drop=True)

In [58]:
df.head()

,type,location,lat,long,address
0,Posting Box,1 Cove Avenue (Sentosa Cove Village),1.24695,103.8389969,None
1,Posting Box,1 Park Road Peoples Park Complex,1.284386,103.843157,None
2,Posting Box,18 Chin Bee Ave,1.333105,103.711239,None
3,Posting Box,755 Upper Serangoon Road (Former Post Office),1.35438,103.8779984,None
4,Posting Box,Admiralty MRT Station,1.440704,103.800521,None

In [59]:
df.tail()

,type,location,lat,long,address
855,Post Office,Toa Payoh North Post Office,1.34208,103.848999,"Blk 203 Toa Payoh North #01-1117/1119, Singapo..."
856,Post Office,Towner Post Office,1.31949,103.8610001,"Blk 101 Towner Road, #01-204/206, Singapore 32..."
857,Post Office,Whampoa Post Office,1.32479,103.8570023,"Whampoa Community Club, 300 Whampoa Drive, #01..."
858,Post Office,Woodlands Central Post Office,1.43527,103.7870026,900 South Woodlands Drive #03-05/06 Woodlands ...
859,Post Office,Yishun Central Post Office,1.42995,103.8359985,"930 Yishun Avenue 2, #02-04/05, Northpoint Cit..."

# Save as json

In [61]:
df.to_json('mailing_locations.json', orient='index')